@import "../../../styles.scss";

.card__left-container {
  position: relative;
  background-color: $white;
  border-radius: 28px;
  padding: 12px 28px;
  box-shadow: 0 0 20px rgba(206, 206, 206, 0.8);
  width: 320px;
  height: 568px;
  overflow: hidden;
  margin: 20px;
  .card__background {
    position: absolute;
    width: 225px;
    height: 225px;
    background-color: $yellow;
    top: -90px;
    right: 215px;
    border-radius: 50%;
    z-index: 0;
  }
  .card__element {
    position: relative;
    z-index: 1;
    .card__logo img {
      height: 20px;
      margin-block: 8px;
    }
    .card__element-container {
      .card__header {
        font-size: 18px;
        font-weight: 800;
        color: $black;
        margin-bottom: 16px;
        text-transform: capitalize;
      }
      .product__container {
        position: relative;
        max-height: 500px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        .product__card {
          margin-bottom: 80px;
          .product__img {
            .img__container {
              position: relative;
              width: 100%;
              height: 248px;
              border-radius: 16px;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-55%, -55%) rotate(-25deg);
                max-width: 110%;
                max-height: 110%;
                filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.3));
              }
            }
          }
          .product__name {
            font-size: 14px;
            color: $black;
            font-weight: 700;
            padding-block: 16px;
          }
          .product__descript {
            color: $gray;
            font-weight: 400;
            font-size: 10px;
            line-height: 1.5;
            text-align: justify;
          }
          .product__flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .product__price {
              font-size: 14px;
              color: $black;
              font-weight: 700;
            }
            .btn__add {
              position: relative;
              background-color: $yellow;
              border: $yellow;
              padding: 8px 14px;
              border-radius: 28px;
              text-transform: uppercase;
              font-size: 10px;
              color: $black;
              font-weight: 800;
              &:hover {
                box-shadow: -1px 1px 4px rgba(206, 206, 206, 0.8);
              }
            }
          }
        }
      }
    }
  }
}
